[submodule "external/third_party/VulkanMemoryAllocator"]
	path = external/third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
