[submodule "external/third_party/VulkanMemoryAllocator"]
	path = external/third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
